body{
    width:100%;
    background-color:#000;
}

#productos{
    background-color:#fff;
    margin:0 auto;
    margin-top:40px;
    padding:40px;
    width:800px;
}

.anterior, .siguiente{
    cursor:pointer;
    display:inline-block;
    text-align:center;
    width:50px;
}

.producto{
    display:inline-block;
    padding:10px;
    text-align:center;
    width:120px;
}




