border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments

#cabecera
	background blue
	border-radius(5px)
	margin 0 auto
	width 80%

#principal
	margin 0 auto
	width 80%

#menu 
	background black
	display inline-block
	height 400px
	width 20%
	vertical-align top

#info
	background orange
	display inline-block
	height 400px
	width 80%
	vertical-align top