body{
    width:100%;
}

#contenido{
    width:50%;
    height:50%;
    margin:0 auto;
    overflow: auto;
    background-image: url('../imagenes/fondo.jpg');
    background-size:100% 100%;
}

#principal{
    width:50%;
	margin:0 auto;
}

#menu{
	background-color:blue;
	float:left;
	width:20%;
	-moz-box-sizing:border-box;
	padding:10px;
}

#info{
	background-color:orange;
	float:right;
	width:80%;
	-moz-box-sizing:border-box;
	padding:10px;
}


